[submodule "tests"]
	path = tests/testdata
	url = https://github.com/ethereum/tests
[submodule "erigon-lib"]
	path = erigon-lib
	url = git@gitlab-shell.bbtcorp.io:proj-blockchain/erigon/erigon-lib.git
	branch = bkc-pos
[submodule "erigon-snapshot"]
	path = erigon-snapshot
	url = git@gitlab-shell.bbtcorp.io:proj-blockchain/erigon/erigon-snapshot.git
	branch = bkc/mainnet
